server:
  http_listen_port: 3200
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
ingester:
  trace_idle_period: 10s
  max_block_bytes: 1_000_000
  max_block_duration: 5m
compactor:
  compaction:
    block_retention: 168h
storage:
  trace:
    backend: local
    local:
      path: /var/tempo/blocks
    pool:
      max_workers: 100
      queue_depth: 10000
metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: docker
  storage:
    path: /var/tempo/generator/wal
overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]
